<template>
  <div class="List">
    <div class="maintitle">
      卡片
    </div>
    <div
      v-if="showTitleKeyIn"
      class="title"
    >
      <div class="input__wrap">
        <label for="">
          <span class="title">主標題</span>
          <span>
            <van-checkbox
              v-model="listinfo.showTitle"
              icon-size="12x"
              @change="selectTitle"
            />
          </span>
        </label>
        <input
          v-show="listinfo.showTitle"
          v-model="listinfo.title"
          type="text"
          placeholder="输入標題"
          @keyup="titleHandler"
        >
      </div>
    </div>
    <div class="info">
      <div class="input__wrap">
        <label for="">
          <span class="title">內文</span>
        </label>
        <input
          v-model="listinfo.info"
          type="text"
          placeholder="请输入內文"
          @keyup="infoHandler"
        >
      </div>
    </div>
    <div class="icon">
      <div class="button">
        新增圖片
        <input
          ref="fileInput"
          class="file"
          type="file"
          accept="image/*"
          autocomplete="off"
          @change="fileHandler"
        >
      </div>
    </div>
    <div
      class="button save-icon"
      :class="{empty:checkEmptyData}"
      @click="saveHandler"
    >
      保存
    </div>
  </div>
</template>

<script>
const reader = new FileReader()
export default {
  name: 'List',
  components: {
  },
  props: {
    changestate: {
      type: Boolean,
      default: false
    },
    listinfo: {
      type: Object,
      default: function () {
        return { showTitle: true, title: '', info: '', src: '', picid: '' }
      }
    }
  },
  data () {
    return {
      baseInfo: {
        showTitle: true,
        title: '',
        info: '',
        src: '',
        picId: ''
      },

      userFileData: null
    }
  },
  computed: {
    showTitleKeyIn: function () {
      return this.usetemplate === 1 ? false : this.usetemplate !== 2
    },
    checkEmptyData: function () {
      return !(this.listinfo.info && this.listinfo.picId)
    }
  },
  mounted () {
    reader.onload = this.fileLoadedHandler
  },
  methods: {
    fileHandler (e) {
      // 取得圖片
      reader.readAsDataURL(e.target.files[0])
    },
    fileLoadedHandler (e) {
      const input = this.$refs.fileInput

      input.type = 'text'
      input.type = 'file'

      this.listinfo.picId = new Date().getTime()
      this.listinfo.src = e.target.result
      // base=>64
      this.$emit('upimgdate', e.target.result)
    },
    saveHandler () {
      // 存檔
      this.$emit('update', this.listinfo, this.changestate)
    },
    titleHandler () {
      // 標題
      this.$emit('uptitle', this.listinfo.title)
    },
    infoHandler () {
      // 內文
      this.$emit('upInfo', this.listinfo.info)
    },
    selectTitle () {
      // 開關標題
      this.$emit('selectTitle', this.listinfo.showTitle)
    }
  }
}
</script>

<style lang="scss" scoped>
.List{
  // border: 1px solid #000;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  >.maintitle{
    font-size: 20px;
    margin-bottom: 10px;
    color: #9095AA;
  }
}
.input__wrap{
  margin-bottom: 10px;

  >label{
    color: #9095AA;
    font-weight: 500;
    font-size: 0.95em;
    line-height: 2em;
    display: flex;
    align-items: center;
    >.title{
      margin-right: 5px;
    }
  }
  >input{
    padding: 0.8em 1em;
    color: #9095AA;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.95em;
    outline: none;
    color: #777F8C;
    font-weight: 500;
    border: 1px solid #D9D9D9;
  }
}
.button{
  position: relative;
  overflow: hidden;
  border: 1px solid #D9D9D9;
  padding: 0.8em 1em;
  width: 100px;
  text-align: center;
  color: #9095AA;
  font-size: 0.95em;

  >input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    font-size: 0;
    cursor: pointer;
  }
}
.icon{
  margin-bottom: 10px;
}
.save-icon{
  cursor: pointer;
  pointer-events: auto;
  &.empty{
    cursor: auto;
    pointer-events: none;
    background-color: #ccc;
    color: #fafafa;
  }
}

</style>
