<template>
  <div class="home">
    <div class="container">
      <div class="editor">
        <div class="select__template">
          <van-radio-group
            v-model="radio"
            direction="horizontal"
            class="radio__wrap"
          >
            <van-radio
              v-for="item in templateList"
              :key="item.value"
              :name="item.value"
            >
              {{ item.name }}
            </van-radio>
          </van-radio-group>
        </div>
        <div class="main__title">
          <div class="title">
            制定主標題
          </div>
          <div class="input__wrap">
            <label for="">主標題</label>
            <input
              v-model="main.title"
              type="text"
              placeholder="请输入主標題"
            >
          </div>
          <div class="input__wrap">
            <label for="">內文</label>
            <input
              v-model="main.info"
              type="text"
              placeholder="请输入內文"
            >
          </div>
        </div>
        <div class="list__title">
          <div class="title">
            制定項目標題
          </div>
          <div class="input__wrap">
            <label for="">選項主標題</label>
            <input
              v-model="list.title"
              type="text"
              placeholder="请输入選項主標題"
            >
          </div>
          <div
            v-if="showItemInfo"
            class="input__wrap"
          >
            <label for="">選項內文</label>
            <input
              v-model="list.info"
              type="text"
              placeholder="请输選項入內文"
            >
          </div>
        </div>
        <div class="list-wrap">
          <div class="title list-title">
            制定卡片
          </div>
          <div class="item__group">
            <List
              :listinfo="baseKeyin"
              :changestate="changeState"
              @update="upDataInfo"
              @upimgdate="upDataImg"
              @uptitle="upTitleInfo"
              @upInfo="upInfo"
              @selectTitle="showHideTitle"
            />
          </div>
        </div>
        <div class="save">
          保存
        </div>
      </div>
      <div class="template-show">
        <TemplateOne
          v-if="radio===1"
          :main="main"
          :list="list"
          :stepdata="userKeyin"
          :userkeyin="baseKeyin"
          @delcard="deleteCardStep"
          @changecard="changeCardStep"
          @changeindex="changeIndexHandler"
        />
        <TemplateTwo
          v-if="radio===2"
          :main="main"
          :list="list"
          :stepdata="userKeyin"
          :userkeyin="baseKeyin"
          @delcard="deleteCardStep"
          @changecard="changeCardStep"
          @changeindex="changeIndexHandler"
        />
        <TemplateThree
          v-if="radio===3"
          :main="main"
          :list="list"
          :stepdata="userKeyin"
          :userkeyin="baseKeyin"
          @delcard="deleteCardStep"
          @changecard="changeCardStep"
          @changeindex="changeIndexHandler"
        />
        <TemplateFour
          v-if="radio===4"
          :main="main"
          :list="list"
          :stepdata="userKeyin"
          :userkeyin="baseKeyin"
          @delcard="deleteCardStep"
          @changecard="changeCardStep"
          @changeindex="changeIndexHandler"
        />
      </div>
    </div>
  </div>
</template>

<script>
import List from '@/components/editor/List'
import TemplateOne from '@/components/type/TemplateType1'
import TemplateTwo from '@/components/type/TemplateType2'
import TemplateThree from '@/components/type/TemplateType3'
import TemplateFour from '@/components/type/TemplateType4'
export default {
  name: 'Home',
  components: {
    List,
    TemplateOne,
    TemplateTwo,
    TemplateThree,
    TemplateFour
  },
  data () {
    return {
      systemName: '',
      main: {
        title: '',
        info: ''
      },
      list: {
        title: '',
        info: ''
      },
      templateList: [
        {
          name: '模板A',
          value: 1
        },
        {
          name: '模板B',
          value: 2
        },
        {
          name: '模板C',
          value: 3
        },
        {
          name: '模板D',
          value: 4
        }
      ],
      baseKeyin: {
        showTitle: true,
        title: '',
        info: '',
        src: '',
        picId: ''
      },
      defKeyin: {
        showTitle: true,
        title: '',
        info: '',
        src: '',
        picId: ''
      },
      userKeyin: [],
      radio: 1,
      value: 1,
      changeState: false
    }
  },
  computed: {
    showItemInfo: function () {
      return this.radio === 1
    }
  },
  methods: {
    upDataInfo (value, changeState) {
      // 存檔
      if (changeState === false) {
        // 新增
        this.userKeyin.push(value)
        setTimeout(() => {
          alert('新增卡片資料')
          this.baseKeyin = Object.assign({}, this.defKeyin)
        }, 500)
      } else {
        const idValue = value.picId
        // 修改
        const findIndex = this.userKeyin.findIndex(item => item.picId === idValue)
        this.userKeyin.splice(findIndex, 1, value)
        setTimeout(() => {
          alert('修改卡片資料')
          this.changeState = false
          this.baseKeyin = Object.assign({}, this.defKeyin)
        }, 500)
      }
    },
    upDataImg (base64value) {
      // 更新圖片
      this.baseKeyin.src = base64value
    },
    upTitleInfo (titleValue) {
      // 更新卡片標題
      this.baseKeyin.title = titleValue
    },
    upInfo (infoValue) {
      // 更新卡片內文
      this.baseKeyin.info = infoValue
    },
    showHideTitle (stateValue) {
      // 開關卡片標題
      this.baseKeyin.showTitle = stateValue
    },
    deleteCardStep (idValue) {
      const findIndex = this.userKeyin.findIndex(item => item.picId === idValue)
      this.userKeyin.splice(findIndex, 1)
      setTimeout(() => {
        alert('已刪除卡片資料')
      }, 500)
    },
    changeCardStep (idValue) {
      // 選擇修改資料
      const findIndex = this.userKeyin.findIndex(item => item.picId === idValue)
      this.changeState = true
      this.baseKeyin = this.userKeyin[findIndex]
    },
    changeIndexHandler (index, direct) {
      if (this.userKeyin.length >= 3) {
        if (index + direct >= 0 && index + direct < this.userKeyin.length) {
          const target = this.userKeyin.splice(index, 1)[0]
          this.userKeyin.splice(index + direct, 0, target)
        }
      } else {
        this.userKeyin = [...this.userKeyin].reverse()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.container{
  // border:1px solid #f00;
  padding: 10px;
  display:flex;
  .editor{
    // border: 1px solid #000;
    flex: 1;
    padding: 10px;
    // background-color: #F4F5F7;
  }
  .show{
    border: 1px solid #0f0;
    flex: 1;
    padding: 10px;
  }
}

.additem{
  margin-bottom: 10px;
}

.template-show{
  max-width: 375px;
  width: 100%;
}
.main__title,.list__title,.list-wrap{
  padding: 10px;
  background-color: #F4F5F7;
  margin-bottom: 10px;
  border-radius: 8px;
  position: relative;

  &::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color:#D9D9D9;
    left: 0;
    top: 35px;
  }
  >.title{
    font-size: 20px;
    margin-bottom: 10px;
    color: #9095AA;
  }
  // border: 1px solid #000;
}
.radio__wrap{
  padding: 10px;
  background-color: #F4F5F7;
  border-radius: 8px;
  margin-bottom: 10px;
  // border: 1px solid #000;
}
.input__wrap{
  margin-bottom: 10px;

  >label{
    color: #9095AA;
    font-weight: 500;
    font-size: 0.95em;
    line-height: 2em;
  }
  >input{
    padding: 0.8em 1em;
    color: #9095AA;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.95em;
    outline: none;
    color: #777F8C;
    font-weight: 500;
    border: 1px solid #D9D9D9;
  }
}

.list-title{
  margin-bottom: 20px!important;
}

.save{
  position: relative;
  overflow: hidden;
  border: 1px solid #D9D9D9;
  padding: 0.8em 1em;
  width: 100px;
  text-align: center;
  color: #9095AA;
  font-size: 0.95em;
  cursor: pointer;
}
</style>
