<template>
  <div class="openselect">
    <div
      class="open"
      @click="openShowTypeHandler"
    >
      o
    </div>
    <div
      class="close"
      @click="closeShowTypeHandler"
    >
      c
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    openShowTypeHandler () {
      this.$emit('opentemplate', true)
    },
    closeShowTypeHandler () {
      this.$emit('closetemplate', false)
    }
  }
}
</script>

<style lang="scss" scoped>
.openselect{
  // border: 1px solid #000;
  margin: 0 auto 26px;
  width: 79.201%;
  display: flex;
  flex-direction: row-reverse;
  .open{
    width: 30px;
    height: 30px;
    border: 1px solid #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  .close{
    width: 30px;
    height: 30px;
    border: 1px solid #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    border-radius: 5px;
  }
}
</style>
