<template>
  <div class="template-wrap">
    <div
      class="first-block main__show"
    >
      <div class="first-block-title">
        <span v-if="main.title">{{ main.title }}</span>
        <span v-else>預設主標</span>
      </div>
      <div class="first-block-text">
        <AutoTextArea
          v-if="main.info"
          :value="main.info"
        />
        <span v-else>預設主文</span>
      </div>
    </div>
    <div class="second-block">
      <div class="laurel-group">
        <img src="/static/images/about/laurel-left.svg">
        <div class="second-block-title-2">
          <AutoTextArea
            v-if="list.title"
            :value="list.title"
          />
          <span v-else>預設選項標題</span>
        </div>
        <img src="/static/images/about/laurel-right.svg">
      </div>
      <div
        class="text-group"
        @click="$router.push({ name: apiData.type.path })"
      >
        <div class="second-block-text-2">
          隐私声明
        </div>
        <img src="/static/images/about/Arrow-right.svg">
      </div>
    </div>
    <div class="content-box template2-content-box">
      <OpenClose
        @opentemplate="openTemplateHandler"
        @closetemplate="closeTemplateHandler"
      />
      <div
        class="third-block-3 template-list-wrap"
      >
        <div class="icon">
          <img
            :src="userkeyin.src"
            alt=""
          >
        </div>
        <div
          v-show="showType"
          class="third-block-text template-list-set"
        >
          <div class="info">
            <div
              v-if="userkeyin.showTitle"
              class="keyin-title"
            >
              <span
                v-if="userkeyin.title.length>0 "
                class="title"
              >
                {{ userkeyin.title }}
              </span>
              <span v-else>
                卡片預設標題
              </span>
            </div>
            <div class="keyin-info">
              <span v-if="userkeyin.info.length>0">
                <AutoTextArea :value="userkeyin.info" />
              </span>
              <span v-else>
                卡片預設標題
              </span>
            </div>
          </div>
        </div>
      </div>
      <template v-if="stepdata.length>0">
        <div
          v-for="(item,index) in stepdata"
          :key="index"
          class="third-block-3 template-list-wrap"
        >
          <div class="btngroup">
            <div @click="changeIndex(index,-1)">
              ↑
            </div>
            <div
              class="del"
              @click="delCardHandler(item.picId)"
            >
              x
            </div>
            <div
              class="change"
              @click="changeCardHandler(item.picId)"
            >
              c
            </div>
            <div @click="changeIndex(index,1)">
              ↓
            </div>
          </div>
          <div class="icon">
            <img
              :src="item.src"
              alt=""
            >
          </div>
          <div class="third-block-text template-list-set">
            <div class="info">
              <div class="card-title">
                <span v-if="item.showTitle">
                  {{ item.title }}
                </span>
              </div>
              <div class="card-info">
                <span v-if="item.info">
                  {{ item.info }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
    <div class="statement">
      <img src="/static/images/about/statement-bg-2.png">
    </div>
  </div>
</template>

<script>
import AutoTextArea from '../unit/TextArea'
import OpenClose from './ShowClose'
export default {
  components: {
    AutoTextArea,
    OpenClose
  },
  props: {
    main: {
      type: Object,
      require: true,
      default: function () {
        return { title: '預設主標題標題', info: '預設主標題內文' }
      }
    },
    list: {
      type: Object,
      require: true,
      default: function () {
        return { title: '預設項目標題', info: '預設項目內文' }
      }
    },
    stepdata: {
      type: Array,
      require: true,
      default: function () {
        return []
      }
    },
    userkeyin: {
      type: Object,
      default: function () {
        return { showTitle: true, title: '', info: '', src: '', picid: '' }
      }
    }
  },
  data () {
    return {
      inputHeight: '0',
      showType: true
    }
  },
  computed: {
  },
  watch: {
  },
  methods: {
    delCardHandler (idValue) {
      this.$emit('delcard', idValue)
    },
    changeCardHandler (idValue) {
      this.$emit('changecard', idValue)
    },
    changeIndex (index, direct) {
      this.$emit('changeindex', index, direct)
    },
    openTemplateHandler (typeValue) {
      this.showType = typeValue
    },
    closeTemplateHandler (typeValue) {
      this.showType = typeValue
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/components/About.scss';
.main__show{
  background-image: url('/static/images/about/statement-bg.png');
}
</style>
